 body{
    background-image: url(https://wallpaperaccess.com/full/903536.jpg); 
    background-repeat: no-repeat;
    background-size: 100%;
} 
#clockContainer{
    position: relative;
    margin: auto;
    border: 2px solid burlywood;
    height: 35vw;
    width: 40vw;
    background: url(old\ clock.png) no-repeat;
    background-size: 100%;
    border-radius: 10%;
}
#hour, #minute, #second{
    position: absolute;
    background:black;
    border-radius: 12px;
    transform-origin: bottom;
}
#hour{
    width: 1.4%;
    height: 18%;
    top: 35%;
    left: 50%;
    opacity: 0.8;
}
#minute{
    width: 1.2%;
    height: 22%;
    top: 31%;
    left: 50%;
    opacity: 0.8;
}
#second{
    width: 1%;
    height:26%;
    top: 27%;
    left: 50%;
    opacity: 0.8;
    
}
